
/.idea/
/HS.iml
/01 - HelloWorld/helloworld
/02 - List/list
/03 - Range/range
01 - HelloWorld/helloworld.hi
01 - HelloWorld/helloworld.o
02 - List/list.hi
02 - List/list.o
03 - Range/range.hi
03 - Range/range.o
helloworld.hi
helloworld.o
